.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.Rprofile
*.Rproj
docs
tmp/
tests/testthat/bin
tests/testthat/run_pipeline_test_output
tests/testthat/run_pipeline_config_patches/*/*.yaml*
!tests/testthat/run_pipeline_config_patches/*/*.default.yaml
/doc/
/Meta/
